
<div class="container text-center">
    <h1>Llego</h1>
    <img src="https://trome.com/resizer/XHCdbR6JenfQTgL9oEjzuWclzH4=/1200x900/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/B4BOQCW65JEBNILAI4L7QWF5TM.jpg" alt="Imagen de ejemplo" class="img-fluid mb-4">
    <form #f="ngForm" (ngSubmit)="enviar(f)" action="" method="POST">
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Ingrese su correo electrónico" required ngModel>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required ngModel>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        <button type="button" routerLink="/registro" class="btn btn-primary btn-block" >Registrarse</button>
      </div>
    </form>
  </div>
